.PageTitle{
            font-size: 24px;
            color:blue;
        }
.auto-style4 {
            width: 73px;
            height: 72px;
        }
 .auto-style5 {
            width: 82px;
            height: 72px;
        }
 .auto-style6 {
            height: 72px;
        }
 .auto-style13 {
            width: 73px;
            height: 43px;
        }
 .auto-style14 {
            width: 82px;
            height: 43px;
        }
 .auto-style15 {
            height: 43px;
        }
 .auto-style16 {
            font-size: 24px;
            color: blue;
            height: 60px;
        }
 .auto-style17 {
            width: 400%;
        }
